*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    animation: trackShake linear 6s infinite;

}
.sky{
    height: 100vh;
    width: 100%;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.trees{
    height: 100vh;
    width: 100%;
    background-image: url(./trees.png);
    background-size: cover;
    position: absolute;
    top: -144px;
}

.track{
    height: 60vh;
    width: 800vw;
    background-image: url(./track.png);
    background-repeat: repeat-x;
    /* background-size: cover; */
    position: absolute;
    top:70vh;
    animation: carMove linear 13s infinite;

    

}

.car{
    height: 100px;
    width: 320px;
    background-image: url(./car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 60vh;
    left: 30%;
    animation: shake linear .3s infinite;

}

.wheel{

}
.wheel1 img{ 
    width: 77px;
    position: absolute;
    top: 35px;
    left: 38px;
    animation: wheelrotation linear .10s infinite;
}


.wheel2 img{
    width: 91px;
    position: absolute;
    top: 34px;
    left: 65%;
    animation: wheelrotation linear .10s infinite;
    

}

@keyframes wheelrotation{

    100%{

        transform: rotate(360deg);
    }
}

@keyframes carMove{

    100%{

        transform: translateX(-500vw);
    }
}
@keyframes shake{

    0%{

        transform: translateY(-5px);
    }
    50%{

        transform: translateY(5px);
    }
    100%{

        transform: translateY(-5px);
    }
}
@keyframes trackShake{

    0%{

        transform: translateY(-50px);
    }
    50%{

        transform: translateY(50px);
    }
    100%{

        transform: translateY(-50px);
    }
}